* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.primary-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
}

.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.navbar {

}
